<nav class="navbar navbar-default" role="navigation">
	<div class="container">
	<!--	<div class="navbar-header">
			<a id="menu-toggle" href="#" class="navbar-toggle"><span class="sr-only">Toggle navigation</span></a>
		</div>-->
		<div id="sidebar-wrapper" class="sidebar-toggle"  style="overflow-y: scroll;">
			<ul class="sidebar-nav">
						<div class="input-group" style="width: 17%; position: fixed;">
								<input type="text" class="dropdown-toggle" data-toggle="dropdown" (keyup)="search($event)" [(ngModel)]="company" name="searchstring" class="form-control" placeholder="Search">
								<div class="input-group-btn">
										<button class="btn btn-default">
												<i class="glyphicon glyphicon-search "></i>
										</button>
								</div>
						</div>
				<li>_</li><!-- Dummy list item so that 1st element of list is not hidden -->
				<li *ngFor="let name of names" [hidden] = "name.show"><a pageScroll href="#{{name.name}}">{{name.name}}</a></li>
		  	</ul>
		</div>
  	</div>
</nav>
<div class="container alert alert-info alert-dismissable fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <kbd *ngFor="let tip of tips; let i = index">
    <b>{{i+1}})</b> {{tip}}<br>
  </kbd>
</div>
<br>

  <div>
    <data *ngFor="let company of data, let n = index" [company]="company" [n]="n" class="panel-group" id="{{company.Col0.Name}}"></data>
    <div class="container row form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-2">
            <!--<button type="button" class="btn btn-primary btn-lg" (click)="addCompany(Cname.value)">Add company</button>-->
        </div>
        <div class="col-sm-6">
            <!--<input type="text" class="form-control" #Cname>-->
            <div class="input-group">
                <input id="newComp" type="text" class="form-control" placeholder="Add New Company" (keyup.enter)="addCompany(Cname.value)" #Cname>
                <span class="input-group-addon"><i class="glyphicon glyphicon-plus" (click)="addCompany(Cname.value)"></i></span>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
